.home {
  width: 100%;
  min-height: calc(100% - 50px);

  .content-body {
    padding-top: 50px;
  }

  //hero desktop
  .hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;

    .video-image-backup {
      display: block;
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/hero.png');
    }

    .video-image {
      display: none;
    }

    video {
      position: relative;
      width: 100%;
      background-color: white;
    }

    .slogan {
      position: absolute;
      bottom: 50px;
      right: 50px;

      padding: 2px 8px 6px 7px;

      text-align: right;

      font-size: 26px;
      line-height: 1;
      font-family: oratorStd;

      border: solid 1px #999999;
      background-color: rgba(255, 255, 255, .9);

      .red {
        color: #983333;
      }

      .br1, .br2 {
        display: none;
      }
    }

    // slogan mobile
    @media screen and (max-width: 680px) {
      .slogan {
        .br1, .br2 {
          display: inline;
        }

        .sp {
          display: none;
        }
      }
    }
  }

  //hero mobile
  @media screen and (max-width: 768px) {
    .hero {
      height: 300px;

      video {
        display: none;
      }

      .video-image {
        display: block;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/hero.png');
      }

      .slogan {
        bottom: 20px;
        right: 20px;
      }
    }
  }

  //plus, plus
  .plus-plus-container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 300px;

    .base-plus-plus {
      background-size: 300px 300px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .spacer {
      flex: 1;
    }

    .dice {
      @extend .base-plus-plus;

      width: 122px;
      height: 104px;

      overflow: visible;

      background-image: url('../images/dice.png');
    }

    .controller {
      @extend .base-plus-plus;

      width: 151px;
      height: 138px;
      background-image: url('../images/controller.png');
    }

    .x {
      @extend .base-plus-plus;

      //width: 73px;
      width: 122px;
      height: 96px;
      background-image: url('../images/x.png');
    }

    .plus {
      width: 30px;      min-width: 30px;
      height: 30px;

      position: relative;
      z-index: 1001;
      background-image: url('../images/plus.png');
    }

    .equal {
      width: 30px;
      min-width: 30px;
      height: 18px;
      background-image: url('../images/equal.png');
    }
  }

  @media screen and (max-width: 580px) {
    .plus-plus-container {
      flex-direction: column;

      .base-plus-plus {
        width: 300px;
      }

      .spacer {
        height: 50px;
      }
    }
  }

  //sign up
  .sign-up {
    position: relative;

    width: 100%;
    height: 200px;

    margin-bottom: -1px;

    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    background-color: #ececec;

    .sign-up-inner {
      width: 100%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      padding: 0 20px;
      margin-top: -5px;

      text-align: center;

      .know-more {
        font-family: oratorStd;
        font-size: 22px;
        margin-bottom: 10px;
      }

      .sign-up-form {
        margin: auto;

        .email-form-control {
          display: inline-block;
          max-width: 300px;
        }

        .btn-sign-up {
          display: inline-block;
          margin-left: 10px;

          color: $logo-red;
          font-weight: 500;
        }
      }

      .thank-you {
        margin: 0 20px;
        max-width: 500px;
        margin: auto;
      }
    }
  }

  //sign up mobile
  @media screen and (max-width: 580px) {
    .sign-up-inner {
      .know-more {
        margin-bottom: 20px !important;
      }

      .sign-up-form {

        .email-form-control {
          display: block !important;
          margin: auto;
          height: 44px;
        }

        .btn-sign-up {
          width: 100%;
          max-width: 300px;
          height: 44px;

          margin: 10px 0 0 0 !important;
        }
      }
    }
  }
}

//footer
.footer {
  position: relative;
  bottom: 0;

  width: 100%;
  height: 50px;

  padding: 0 20px;

  //text-align: right;
  line-height: 50px;

  color: $logo-grey;

  background-color: white;
  border-top: solid 1px #999999;

  .social {
    float: right;
    height: 26px;
    margin-top: 11px;
    line-height: 1;

    .base-social {
      width: 26px;
      height: 26px;

      display: inline-block;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: 26px 26px;
    }

    .email {
      @extend .base-social;

      margin-right: 3px;
      background-image: url('../images/email.png');
    }

    .twitter {
      @extend .base-social;

      margin-right: 3px;
      background-image: url('../images/twitter.png');
    }

    .facebook {
      @extend .base-social;

      background-image: url('../images/facebook.png');
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {

  }
}