/* line 1, ../../../scss/common/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../../../scss/common/_base.scss */
.restricted-width {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
}

/* line 13, ../../../scss/common/_base.scss */
.hidden, .header .navbar-toggle {
  display: none;
}

/* line 17, ../../../scss/common/_base.scss */
.hide-mobile {
  display: none;
}

/* line 21, ../../../scss/common/_base.scss */
.show-mobile {
  display: inherit;
}

@font-face {
  font-family: oratorStd;
  src: url("../fonts/oratorstd-webfont.woff");
}
/* line 3, ../../../scss/parts/_header.scss */
.header .navbar-toggle {
  border: none;
  margin-right: 0;
}
/* line 10, ../../../scss/parts/_header.scss */
.header .logo {
  width: 159px;
  height: 50px;
  background-size: 133px 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url("../images/logo.png");
}

/* line 21, ../../../scss/parts/_header.scss */
.header.navbar-default {
  background-color: white !important;
  border-bottom: solid 1px #999999;
}

/* line 1, ../../../scss/pages/_home.scss */
.home {
  width: 100%;
  min-height: calc(100% - 50px);
}
/* line 5, ../../../scss/pages/_home.scss */
.home .content-body {
  padding-top: 50px;
}
/* line 10, ../../../scss/pages/_home.scss */
.home .hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
}
/* line 19, ../../../scss/pages/_home.scss */
.home .hero .video-image-backup {
  display: block;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/hero.png");
}
/* line 27, ../../../scss/pages/_home.scss */
.home .hero .video-image {
  display: none;
}
/* line 31, ../../../scss/pages/_home.scss */
.home .hero video {
  position: relative;
  width: 100%;
  background-color: white;
}
/* line 37, ../../../scss/pages/_home.scss */
.home .hero .slogan {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 2px 8px 6px 7px;
  text-align: right;
  font-size: 26px;
  line-height: 1;
  font-family: oratorStd;
  border: solid 1px #999999;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 53, ../../../scss/pages/_home.scss */
.home .hero .slogan .red {
  color: #983333;
}
/* line 57, ../../../scss/pages/_home.scss */
.home .hero .slogan .br1, .home .hero .slogan .br2 {
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 65, ../../../scss/pages/_home.scss */
  .home .hero .slogan .br1, .home .hero .slogan .br2 {
    display: inline;
  }
  /* line 69, ../../../scss/pages/_home.scss */
  .home .hero .slogan .sp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 78, ../../../scss/pages/_home.scss */
  .home .hero {
    height: 300px;
  }
  /* line 81, ../../../scss/pages/_home.scss */
  .home .hero video {
    display: none;
  }
  /* line 85, ../../../scss/pages/_home.scss */
  .home .hero .video-image {
    display: block;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/hero.png");
  }
  /* line 93, ../../../scss/pages/_home.scss */
  .home .hero .slogan {
    bottom: 20px;
    right: 20px;
  }
}
/* line 101, ../../../scss/pages/_home.scss */
.home .plus-plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
/* line 108, ../../../scss/pages/_home.scss */
.home .plus-plus-container .base-plus-plus, .home .plus-plus-container .dice, .home .plus-plus-container .controller, .home .plus-plus-container .x {
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 114, ../../../scss/pages/_home.scss */
.home .plus-plus-container .spacer {
  flex: 1;
}
/* line 118, ../../../scss/pages/_home.scss */
.home .plus-plus-container .dice {
  width: 122px;
  height: 104px;
  overflow: visible;
  background-image: url("../images/dice.png");
}
/* line 129, ../../../scss/pages/_home.scss */
.home .plus-plus-container .controller {
  width: 151px;
  height: 138px;
  background-image: url("../images/controller.png");
}
/* line 137, ../../../scss/pages/_home.scss */
.home .plus-plus-container .x {
  width: 122px;
  height: 96px;
  background-image: url("../images/x.png");
}
/* line 146, ../../../scss/pages/_home.scss */
.home .plus-plus-container .plus {
  width: 30px;
  min-width: 30px;
  height: 30px;
  position: relative;
  z-index: 1001;
  background-image: url("../images/plus.png");
}
/* line 155, ../../../scss/pages/_home.scss */
.home .plus-plus-container .equal {
  width: 30px;
  min-width: 30px;
  height: 18px;
  background-image: url("../images/equal.png");
}
@media screen and (max-width: 580px) {
  /* line 164, ../../../scss/pages/_home.scss */
  .home .plus-plus-container {
    flex-direction: column;
  }
  /* line 167, ../../../scss/pages/_home.scss */
  .home .plus-plus-container .base-plus-plus, .home .plus-plus-container .dice, .home .plus-plus-container .controller, .home .plus-plus-container .x {
    width: 300px;
  }
  /* line 171, ../../../scss/pages/_home.scss */
  .home .plus-plus-container .spacer {
    height: 50px;
  }
}
/* line 178, ../../../scss/pages/_home.scss */
.home .sign-up {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: -1px;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  background-color: #ececec;
}
/* line 190, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  margin-top: -5px;
  text-align: center;
}
/* line 202, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner .know-more {
  font-family: oratorStd;
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 208, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner .sign-up-form {
  margin: auto;
}
/* line 211, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner .sign-up-form .email-form-control {
  display: inline-block;
  max-width: 300px;
}
/* line 216, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner .sign-up-form .btn-sign-up {
  display: inline-block;
  margin-left: 10px;
  color: #983333;
  font-weight: 500;
}
/* line 225, ../../../scss/pages/_home.scss */
.home .sign-up .sign-up-inner .thank-you {
  margin: 0 20px;
  max-width: 500px;
  margin: auto;
}
@media screen and (max-width: 580px) {
  /* line 236, ../../../scss/pages/_home.scss */
  .home .sign-up-inner .know-more {
    margin-bottom: 20px !important;
  }
  /* line 242, ../../../scss/pages/_home.scss */
  .home .sign-up-inner .sign-up-form .email-form-control {
    display: block !important;
    margin: auto;
    height: 44px;
  }
  /* line 248, ../../../scss/pages/_home.scss */
  .home .sign-up-inner .sign-up-form .btn-sign-up {
    width: 100%;
    max-width: 300px;
    height: 44px;
    margin: 10px 0 0 0 !important;
  }
}

/* line 261, ../../../scss/pages/_home.scss */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  color: #5b5b5b;
  background-color: white;
  border-top: solid 1px #999999;
}
/* line 278, ../../../scss/pages/_home.scss */
.footer .social {
  float: right;
  height: 26px;
  margin-top: 11px;
  line-height: 1;
}
/* line 284, ../../../scss/pages/_home.scss */
.footer .social .base-social, .footer .social .email, .footer .social .twitter, .footer .social .facebook {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px 26px;
}
/* line 295, ../../../scss/pages/_home.scss */
.footer .social .email {
  margin-right: 3px;
  background-image: url("../images/email.png");
}
/* line 302, ../../../scss/pages/_home.scss */
.footer .social .twitter {
  margin-right: 3px;
  background-image: url("../images/twitter.png");
}
/* line 309, ../../../scss/pages/_home.scss */
.footer .social .facebook {
  background-image: url("../images/facebook.png");
}
